---

---

<section class="">
    <form id="pokeform">
        <input type="number" name="" id="pokeinput">
        <button></button>
    </form>
    <article class="" id="pokesection">
        <img src="" alt="" class="">
        <h1 class=""></h1>
        <p class=""></p>
        <p class=""></p>
    </article>
</section>

<script type="module">
    const POKESECTION = document.querySelector("#pokesection")
    const POKEINPUT = document.querySelector("#pokeinput")
    const POKEFORM = document.querySelector("#pokeform")
    const POKEURL = "https://pokeapi.co/api/v2/pokemon/"

    
</script>