---

---

<section class="">
    <form id="pokeform">
        <input type="number" name="" id="pokeinput">
        <button></button>
    </form>
    <article class="" id="pokesection">
    </article>
</section>

<script type="module">
    const POKESECTION = document.querySelector("#pokesection")
    const POKEINPUT = document.querySelector("#pokeinput")
    const POKEFORM = document.querySelector("#pokeform")
    const POKEURL = "https://pokeapi.co/api/v2/pokemon/"

    let pokemon = JSON.parse(localStorage.getItem("pokemon")) || []

    const SAVETOLOCALSTORAGE = (pokemons) => {
        return localStorage.setItem("pokemon", JSON.stringify(pokemons))
    }

    const FETCHPOKEMONS = async () => {
        const POKEURLID = POKEURL + POKEINPUT.value
        const RES = await fetch(`${POKEURLID}`)
        const DATA = await RES.json()
        return DATA
    }

    const RENDERPOKEMON = (pokemon) => {
        const {id, name, sprites, height, weight, types} = pokemon
        return `
        <h2 class="">#${id}</h2>
        <img src="${sprites.other.home.front_default}" alt="" class="">
        <h1 class="">${name.toUpperCase()}</h1>
        <p class="">${height / 10}m</p>
        <p class="">${weight / 10}kg</p>
        `
    }

    const RENDERPOKEMONLIST = (selectedpokemon) => {
        POKESECTION.innerHTML = RENDERPOKEMON(selectedpokemon)
    }

    function init() {
        POKEFORM.addEventListener("submit", async (e) => {
            e.preventDefault()

            if (POKEINPUT.value) {
                
            }
            let result = await FETCHPOKEMONS()
            console.log(result)
            pokemon = [result]
            RENDERPOKEMONLIST(result)
            SAVETOLOCALSTORAGE(result)
        })
    }

    const INIT = () => {
        init()
        RENDERPOKEMONLIST(pokemon)
    }

    INIT()
</script>